/**
 * Theme Switcher plugin css
 */
body {
	transition: color 0.6s, background-color 0.3s;

	/* Apply overlay to codex-block to transition linear gradient */
	:where([style*="rgb(36,41,47) 98%);"]) {
		position: relative;
	}

	:where([style*="rgb(36,41,47) 98%);"])::before {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(90deg,rgb(132,123,236) 88%, #e6edf3 98%) !important;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}

html.light-theme {
	background-color: #e6edf3;
	color: #24292f;

	header > div[style],
	footer > div[style] {
		background-color: #dfebf4 !important;
	}

	/* CV/Bio block color */
	:where(.has-contrast-color) {
		color: #24292f !important;

		/* link to internal page */
		a[href="http://tacconiweb.com/dettagli-personali/"] {
			color: #24292f;
		}
	}

	/* Show codex-block linear gradient overlay */
	:where([style*="rgb(36,41,47) 98%);"])::before {
		opacity: 1;
	}

	/* Button for theme switching */
	:where(.wp-element-button, .wp-block-button__link) {
		background-color: unset;
		border-color: #24292f;

  	&:hover {
			background-color: #24292f;
  	}
 }

}

